<header class="header text-center">
    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <!-- Profile Section Start -->
            <div class="profile-section pt-3 pt-lg-0">
                <a href="{{ site.navigation_header[0].url }}">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="{{ site.logo | relaive_url }}" alt="image">
                </a>
                <h3 class="blog-name pt-2 mb-3">
                    <a href="{{ site.navigation_header[0].url }}">{{ site.user.name }}</a>
                </h3>

                <!-- Bio Section Start-->
                <div class="bio mb-3">
                  
                    <p>
                        {{ site.user.bio }}
                    </p>
                    
                </div>

<ul class="social-icons">
  <li class="social-icon">
    <a href="https://github.com/{{ site.social_links.github_username }}" target="_blank">
      <img src="/assets/ssrn.png" alt="SSRN" class="icon-image">
    </a>
  </li>
  <li class="social-icon">
    <a href="https://scholar.google.com/citations?user={{ site.social_links.scholar_username }}" target="_blank">
      <i class="fab fa-google-scholar fa-fw icon-font"></i>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://orcid.org/{{ site.social_links.orcid_id }}" target="_blank">
      <img src="/assets/chapman.png" alt="Chapman University" class="icon-image">
    </a>
  </li>
</ul>


                
                <hr style="background: white;">
            </div>
            <!-- Profile Section End-->


            {% include nav-header.html %}

            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="/assets/resume/resume.pdf" target="_blank"
                    download="resume">Resume (pdf)</a>
            </div>
            
        </div>
    </nav>
</header>
