{% if site.social_links.github_username %}
<li class="list-inline-item">
  <a href="https://github.com/{{ site.social_links.github_username }}" target="_blank">
    <img src="/assets/ssrn.png" style="width:32px;height:auto;">
  </a>
</li>
{% endif %}

{% if site.social_links.scholar_username %}
<li class="list-inline-item">
  <a href="https://scholar.google.com/citations?user={{ site.social_links.scholar_username }}" target="_blank">
    <i class="fab fa-google-scholar fa-fw"></i>
  </a>
</li>
{% endif %}

{% if site.social_links.orcid_id %}
<li class="list-inline-item">
  <a href="https://orcid.org/{{ site.social_links.orcid_id }}" target="_blank">
    <img src="/assets/chapman.png" style="width:32px;height:32px;">
  </a>
</li>
{% endif %}
